<component name="libraryTable">
  <library name="spring-context-indexer-5.1.5.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-context-indexer-5.1.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-5.1.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.1.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-5.1.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>